<?php
header("Content-type: text/css; charset: UTF-8");
?>

@page { 
	size: 8.5in 11in;
     margin: .5in;
}

.a4 {
	width: 615px;
	/*height: 862px;*/
	/*margin-left: 60px;*/
	/*margin-top: 30px;*/
	margin: 30px 40px 30px 40px;
}

.header {
	width: 100%;
	border: 1px solid black !important;
	display: flex !important;
	margin-bottom: 0;
	height: 60px;
}

.head1 {
	width: 80px;
	height: 60px;
	/*padding: 5px;*/
	/*padding-top: 8px;*/
	padding-bottom: 0;
	/*margin-top: -5px;*/
	border: 1px solid black;
	border-right: none;
}

.head1 > img {
	margin-left: 10px;
	margin-top: 3px;
}

.head2 {
	height: 60px;
	margin-left: 80px;
	/*border-left: 1px solid black;*/
	text-align: center;
	width: 449px;
	border: 1px solid black;
}

.head3 {
	height: 60px;
	border: 1px solid black;
	border-left: none;
	width: 80px;
	margin-left: 530px;
	/*width: 100%;*/
}

.head3 > img {
	margin-top: 2px;
	margin-left: 10px;
}

.head2 > p {
	width: 100%;
}

.body1 {
	margin-top: 20px;
	width: 100% !important;
	justify-content: space-between;
}

.body2 {
	/*padding-left: 10px;*/
	margin-top: 40px;
	border: 1px solid black;
	width: 100%;
	margin-bottom: 30px;
}

.body3 {
	margin-top: 20px;
	display: flex;
	justify-content: space-between !important;
}

.body3-1, .body3-2 {
	width: 45%;
}

.body1-1, .body1-2{
	width: 45% !important;
}

.body1-1 {
	padding-left: 10px;
}

.body1-2 {
	padding-right: 10px;
}

.head2-p1 {
	font-size: 22px;
	font-weight: 600;
	margin: 0;
	/*margin-bottom: 5px;*/
	margin-top: 15px;
}

.head2-p2 {
	font-size: 12px;
	font-weight: 600;
	margin: 0;
}

.body1-p-ttl {
	font-size: 12px;
	font-weight: 600;
}

.body1-p-normal {
	font-size: 12px;
	font-weight: normal;
}

.body1-p-normal-40 {
	font-size: 12px;
	font-weight: normal;
	margin-top: 40px;
}

.body2-p {
	font-size: 12px;
	margin-left: 10px;
}

.tab-head {
	background: black;
	color: white;
}

.body3-p {
	font-size: 12px;
	font-weight: normal;
}

.body3-p-30 {
	font-size: 12px;
	font-weight: normal;
	margin-top: 30px;
}

table {
	font-size: 12px;
	border-spacing: 0;
	border-bottom: none !important;
	width: 100%;
	border: 1px solid black;
	margin-top: 20px;
}

th {
	text-align: center !important;
	font-weight: 600;
	color: white;
}

td {
	border-bottom: 1px solid black;
	text-align: center !important;
}