<?php
header("Content-type: text/css; charset: UTF-8");
?>

@page { margin: 0px; }

.a4 {
	/*width: 595px;*/
	/*height: 842px;*/
	margin: 30px;
	/*margin-left: 50px;*/
}

.header {
	width: 100%;
	/*border: 1px solid black !important;*/
	display: flex !important;
	margin-bottom: 60px;
	height: 60px;
}

.head1 {
	width: 75px;
	height: 62px;
	padding-left: 5px;
	/*padding: 5px;*/
	/*padding-top: 8px;*/
	padding-bottom: 0;
	border-right: 1px solid black;
}

.head1 > img {
	margin-left: 7px;
	margin-top: 3px;
}

.head2 {
	height: 60px;
	/*border-left: 1px solid black;*/
	text-align: center;
	width: 100%;
	border: 1px solid black;
}

.head2 > p {
	width: 100%;
}

.body1 {
	margin-top: 20px;
	width: 100% !important;
	display: flex;
	/*border: 1px solid black;*/
	justify-content: space-between !important;
}

.body2 {
	/*padding-left: 10px;*/
	margin-top: -150px;
	border: 1px solid black;
	width: 100%;
	margin-bottom: 30px;
}

.body3 {
	margin-top: 20px;
	display: flex;
	justify-content: space-between !important;
}

.body3-1, .body3-2 {
	width: 45%;
}

.body1-1, .body1-2{
	/*width: 45% !important;*/
	margin-top: 42px;
	/*position: relative !important;*/

}

.body1-1 {
	padding-left: 10px;
	border: 1px solid black;
	width: 100%;
}

.body1-2, .body3-2 {
	padding-right: 10px;
	margin-left: 400px;
}

.body1-2 > .body1-p-ttl {
	margin-top: 12px;
}

.head2-p1 {
	font-size: 22px;
	font-weight: 600;
	margin: 0;
	margin-bottom: 5px;
	margin-top: 5px;
}

.head2-p2 {
	font-size: 12px;
	font-weight: 600;
	margin: 0;
}

.body1-p-ttl {
	font-size: 12px;
	font-weight: 600;
}

.body1-p-normal {
	font-size: 12px;
	font-weight: normal;
}

.body1-p-normal-40 {
	font-size: 12px;
	font-weight: normal;
	margin-top: 40px;
}

.body2-p {
	font-size: 12px;
	margin-left: 10px;
}

.tab-head {
	background: black;
	color: white;
}

.body3-p {
	font-size: 12px;
	font-weight: normal;
}

.body3-p-30 {
	font-size: 12px;
	font-weight: normal;
	margin-top: 30px;
}

table {
	font-size: 12px;
	border-spacing: 0;
	border-bottom: none !important;
	width: 100%;
	border: 1px solid black;
	margin-top: 20px;
	margin-bottom: 40px;
}

th {
	text-align: center !important;
	font-weight: 600;
	color: white;
}

td {
	border-bottom: 1px solid black;
	text-align: center !important;
}